{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}

{% block body %}
    <h1>Postuler à cette annonce</h1>

    {{ include('candidature/_form.html.twig') }}

    <a class="btn btn-info mt-3" href="{{ path('app_annonce_candidat') }}">Retour</a>
{% endblock %}
