{% extends 'base.html.twig' %}

{% block title %}EN ATTENTE DE VALIDATION :: TRT Conseil{% endblock %}

{% block body %}

    <div class="w-100">
        <div class="middle-window position-absolute top-50 start-50 p-4 text-center translate-middle">
            <img class="small-logo mb-2" src="{{ asset('images/logo.png') }}" alt="Logo">
            <h2 class="mb-3 font-weight-normal">MERCI POUR VOTRE INSCRIPTION</h2>
            <p class="mb-3"><b>{{ app.user.email }}</b></p>
            <div class="d-flex flex-row justify-content-center w-100 mb-3">
                <p class="alert alert-success">Votre inscription va faire l'objet d'une vérification auprès de nos consultants. Veuillez patienter...</p>
            </div>
            <a class="btn btn-primary button-shadow" href="{{ path('app_logout') }}" role="button">Se déconnecter</a>
        </div>
    </div>

{% endblock %}
